<ion-content padding class="background">
    <div class = "rtl">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <input class=input #season placeholder='עונת אירועים' />
                    <input class=input #hebrew_year placeholder='שנה עברית' />
                    <select class=list>
                        <option value="" disabled selected>סוג אירוע</option>
                        <option #show >הופעה</option>
                        <option #workshop>סדנא</option>
                    </select> 
                    <input placeholder="תאריך לועזי" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                    <input placeholder="שעת פתיחת דלתות" class="textbox-n" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" id="time">
                </ion-col>
                <ion-col>
                    <input placeholder="שעת התחלת אירוע בפועל" class="textbox-n" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" id="Actual_show_time">
                    <select class=list>
                        <option value="" disabled selected>מופע חוזר?</option>
                        <option value="yes">כן</option>
                        <option value="no">לא</option>
                    </select> 
                    <input placeholder="מספר מופעים חוזרים" class="textbox-n" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" id="quantity" min="0" max="100"> 
                    <input class=input #cost placeholder='עלות כניסה לתושב' />
                    <select class=list>
                        <option value="" disabled selected>קהל יעד</option>
                        <option value="children">ילדים</option>
                        <option value="girls">ילדות</option>
                        <option value="youth">נערות</option>
                        <option value="boys">בנים</option>
                        <option value="women">נשים</option>
                        <option value="fathers_sons">אבות ובנים</option>
                        <option value="women_golden_age">גיל הזהב - נשים</option>
                        <option value="elementary_girls">בנות היסודי</option>
                    </select> 
                </ion-col>
                <ion-col>
                    <input placeholder="מספר סדרנים נדרש" class="textbox-n" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" id="ushers" min="0">
                    <select class=list>
                        <option value="" disabled selected>מצב פרסום</option>
                        <option value="not_yet_treated">טרם טופל</option>
                        <option value="artist">ממתין לגרפיקה מהאומן/ית</option>
                        <option value="civic">הגיעה גרפיקה מהאומן/ית, ממתין לגרפיקה עירונית</option>
                        <option value="proofreading">חזר מגרפיקה עירונית, ממתין להגהה</option>
                        <option value="corrections">ממתין לתיקוני גרפיקה עירונית</option>
                        <option value="approved">מאושר</option>
                    </select> 
                    <input type="file" name="upload">
                    <select class=list>
                        <option value="" disabled selected>סטטוס הזמנה לרכש</option>
                        <option value="not_yet_treated">טרם טופל</option>
                        <option value="ordering">נמצא בריכוז להכנת הזמנה</option>
                        <option value="request_price">נשלחה בקשה להצע"מ</option>
                        <option value="arrived">הגיעה הצע"מ</option>
                        <option value="request_procurement">נשלח בקשה לרכש</option>
                        <option value="return_procurement">חזר מהרכש - לטיפול</option>
                    </select> 
                    <select class=list>
                        <option value="" disabled selected>סטטוס תשלום</option>
                        <option value="invoice_not_arrived">טרם הגיעה חשבונית / דרישה לתשלום</option>
                        <option value="invoice_arrived">הגיעה חשבונית / דרישה, טרם טופל</option>
                        <option value="invoice_payment">הועברה חשבונית לתשלום</option>
                        <option value="paid_up">שולם</option>
                    </select> 
                </ion-col>
            </ion-row>
        </ion-grid> 
        <button (click)='saveData()'>Save!</button>        
    </div>      
</ion-content>
  


