<ion-content padding class="background">
    <div class = "rtl">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <input class=input #season placeholder='עונת אירועים' />
                    <input class=input #hebrew_year placeholder='שנה עברית' />
                    <input placeholder="תאריך לועזי" class=input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" #date>
                    <input placeholder="שעת פתיחת דלתות" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #time>
                    <input placeholder="שעת התחלת אירוע בפועל" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #Actual_show_time>
                </ion-col>
                <ion-col> 
                    <input placeholder="מספר מופעים חוזרים" class=input min="0" max="100" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" #quantity> 
                    <input placeholder='עלות כניסה לתושב' class=input min="0" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" #cost>
                    <input placeholder="מספר סדרנים נדרש" class=input min="0" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" #ushers>
                </ion-col>
                <ion-col>
                    <select class=input #event_type>
                        <option value="" disabled selected>סוג אירוע</option>
                        <option value="show" >הופעה</option>
                        <option value="workshop">סדנא</option>
                    </select>                     
                    <select class=input #repeat_show>
                        <option value="" disabled selected>מופע חוזר?</option>
                        <option value="yes">כן</option>
                        <option value="no">לא</option>
                    </select> 
                    <select class=input #target_audience>
                        <option value="" disabled selected>קהל יעד</option>
                        <option value="children">ילדים</option>
                        <option value="girls">ילדות</option>
                        <option value="youth">נערות</option>
                        <option value="boys">בנים</option>
                        <option value="women">נשים</option>
                        <option value="fathers_sons">אבות ובנים</option>
                        <option value="women_golden_age">גיל הזהב - נשים</option>
                        <option value="elementary_girls">בנות היסודי</option>
                    </select> 
                    <select class=input #advertising_status>
                        <option value="" disabled selected>מצב פרסום</option>
                        <option value="not_yet_treated">טרם טופל</option>
                        <option value="artist">ממתין לגרפיקה מהאומן/ית</option>
                        <option value="civic">הגיעה גרפיקה מהאומן/ית, ממתין לגרפיקה עירונית</option>
                        <option value="proofreading">חזר מגרפיקה עירונית, ממתין להגהה</option>
                        <option value="corrections">ממתין לתיקוני גרפיקה עירונית</option>
                        <option value="approved">מאושר</option>
                    </select> 
                    <select class=input #order_status_purchase>
                        <option value="" disabled selected>סטטוס הזמנה לרכש</option>
                        <option value="not_yet_treated">טרם טופל</option>
                        <option value="ordering">נמצא בריכוז להכנת הזמנה</option>
                        <option value="request_price">נשלחה בקשה להצע"מ</option>
                        <option value="arrived">הגיעה הצע"מ</option>
                        <option value="request_procurement">נשלח בקשה לרכש</option>                            <option value="return_procurement">חזר מהרכש - לטיפול</option>
                    </select> 
                    <select class=input #payment_status>
                        <option value="" disabled selected>סטטוס תשלום</option>
                        <option value="invoice_not_arrived">טרם הגיעה חשבונית / דרישה לתשלום</option>
                        <option value="invoice_arrived">הגיעה חשבונית / דרישה, טרם טופל</option>                            <option value="invoice_payment">הועברה חשבונית לתשלום</option>
                        <option value="paid_up">שולם</option>
                    </select>
                    <input class=input type="file" #upload>
                </ion-col>
            </ion-row>
        </ion-grid> 
        <button (click)='saveData()'>יצירת אירוע</button>       
    </div>      
</ion-content>