<body>
    <div class = "rtl">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <select class=input #show (change)='try($event)' >
                        <option value="" disabled selected>שם המופע</option>
                        <option [value]="doc.show"  *ngFor='let doc of dataFromDatabase'>{{doc.show}}</option>
                    </select>
                   
                    <input class=input #season placeholder='עונת אירועים' />
                    <input class=input #hebrew_year placeholder='שנה עברית'  />
                    <input placeholder="תאריך לועזי" class=input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" #date>
                    <input class=input #hebrew_date placeholder='תאריך עברי'  />
                    <select class=input #day_of_week>
                        <option value="" disabled selected>יום בשבוע</option>
                        <option value="ראשון" >ראשון</option>
                        <option value="שני">שני</option>
                        <option value="שלישי">שלישי</option>
                        <option value="רביעי">רביעי</option>
                        <option value="חמישי">חמישי</option>
                        <option value="שישי">שישי</option>
                        <option value="מוצאי שבת">מוצ"ש</option>
                   </select>
                    <input placeholder="שעת פתיחת דלתות" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #open_doors>
                    <input placeholder="שעת התחלת אירוע בפועל" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #Actual_show_time>

                    <select class=input #building>
                        <option value="" disabled selected>מבנה</option>
                        <option value="הופעה" >הופעה</option>
                        <option value="סדנא">סדנא</option>
                    </select>
                    <select class=input #building_status>
                        <option value="" disabled selected>סטטוס שריון מבנה</option>
                        <option value="חסר שיבוץ" >חסר שיבוץ</option>
                        <option value="משוריין">משוריין</option>
                        <option value="ממתין לתשובת שריון">ממתין לתשובת שריון</option>
                        <option value="סגור">סגור</option>
                   </select>

                    
                </ion-col>
                <ion-col> 
                    <input placeholder="מספר מופעים חוזרים" class=input min="0" max="100" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" #quantity> 
                    <input placeholder='עלות כניסה לתושב' class=input min="0" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" #cost>
                    <input placeholder="מספר סדרנים נדרש" class=input min="0" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" #ushers>
                    <input class=input  #before_show placeholder='משך זמן ניקיון/הכנות לפני אירוע' />
                    <input class=input  #show_time placeholder='משך זמן האירוע' />

                    <input placeholder="שעת סיום האירוע" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #end_of_show>
                    <input class=input #after_show placeholder='משך זמן פירוק/ניקיון לאחר האירוע' />
                    <input placeholder="שעה שבה משוחרר המבנה לאחר האירוע" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #release_building>

                    <select class=input #budgets>
                        <option value="" disabled selected>סעיף תקציבי</option>
                        <option value="הופעה" >הופעה</option>
                        <option value="סדנא">סדנא</option>
                    </select>

                    <select class=input #agent>
                        <option value="" disabled selected>מפעיל/ה</option>
                        <option value="הופעה" >הופעה</option>
                        <option value="סדנא">סדנא</option>
                    </select>

                    <select class=input #in_charge_of_show>
                        <option value="" disabled selected>אחראי/ת לאירוע</option>
                        <option value="הופעה" >הופעה</option>
                        <option value="סדנא">סדנא</option>
                    </select>

                    <select class=input #usher1>
                        <option value="" disabled selected>סדרן 1</option>
                        <option value="הופעה" >הופעה</option>
                        <option value="סדנא">סדנא</option>
                    </select>

                    <input class=input #equipment placeholder='ציוד נדרש' />

                </ion-col>
                <ion-col>
                    <select class=input #event_type>
                        <option value="" disabled selected>סוג אירוע</option>
                        <option value="show" >הופעה</option>
                        <option value="workshop">סדנא</option>
                    </select>                     
                    <select class=input #repeat_show>
                        <option value="" disabled selected>מופע חוזר?</option>
                        <option value="yes">כן</option>
                        <option value="no">לא</option>
                    </select> 

                    <input class=input #target_audience placeholder='קהל יעד' />

                    <select  id ="list" class=input #advertising_status>
                        <option value="" disabled selected>מצב פרסום</option>
                        <option value="not_yet_treated">טרם טופל</option>
                        <option value="artist">ממתין לגרפיקה מהאומן/ית</option>
                        <option value="civic">הגיעה גרפיקה מהאומן/ית, ממתין לגרפיקה עירונית</option>
                        <option value="proofreading">חזר מגרפיקה עירונית, ממתין להגהה</option>
                        <option value="corrections">ממתין לתיקוני גרפיקה עירונית</option>
                        <option value="approved">מאושר</option>
                    </select> 
                    <select class=input #order_status_purchase>
                        <option value="" disabled selected>סטטוס הזמנה לרכש</option>
                        <option value="not_yet_treated">טרם טופל</option>
                        <option value="ordering">נמצא בריכוז להכנת הזמנה</option>
                        <option value="request_price">נשלחה בקשה להצע"מ</option>
                        <option value="arrived">הגיעה הצע"מ</option>
                        <option value="request_procurement">נשלח בקשה לרכש</option>                            
                        <option value="return_procurement">חזר מהרכש - לטיפול</option>
                    </select> 
                    <select class=input #payment_status>
                        <option value="" disabled selected>סטטוס תשלום</option>
                        <option value="invoice_not_arrived">טרם הגיעה חשבונית / דרישה לתשלום</option>
                        <option value="invoice_arrived">הגיעה חשבונית / דרישה, טרם טופל</option>                            
                        <option value="invoice_payment">הועברה חשבונית לתשלום</option>
                        <option value="paid_up">שולם</option>
                    </select>
                    <input class=input type="file" #upload>
                </ion-col>
            </ion-row>
        </ion-grid> 
        <button (click)='saveData()'>יצירת אירוע</button>       
    </div>      
</body>