ion-content.background{
    --background: url(http://www.up2me.co.il/images/69528473.jpg) 0 0/100% 100% no-repeat;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #324851;
  }
  
  li a {
    font-size: 24px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #cdb579;
    color: #ffffff;
  }
  
  li a:hover:not(.active) {
    background-color: #cdb579;
    color: #ffffff;

  }
    
  input{
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .list{
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .rtl{
    direction: rtl;
  }

  ion-grid{
    --ion-grid-column-padding: 5px;
  }