ion-content.background{
  --background: url(http://www.up2me.co.il/images/69528473.jpg) 0 0/100% 100% no-repeat;
}

.input{
  width: 500px;
  margin: 1%;
  float: right;
  text-align: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 2.5%;
}

.rtl{

  direction: rtl;
  height: 79%;
  overflow:auto;
  padding-bottom: 3%;

}

ion-grid{
  --ion-grid-column-padding: 10px;
}

button{
  font-size: 16px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px 12px;
  background-color: #363636;
  color: #ffffff;
  //margin-left: 10%; 
  //margin-right: 10%; 
  margin: 4px 2px;
  float: left;
  
}
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:black;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}



.my-custom-scrollbar {
  position: relative;
  height: 380px;
  overflow: auto;
 margin-right: 1%;
  width:95%; 
 

  }
  .table-wrapper-scroll-y {
  display: block;
  border: 1px solid black;
  background-color: whitesmoke;

  }
th{
  border: 1px solid black;
  height: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
td{
  border: 1px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}