<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<body>
    <div class = "rtl">
    <h1>משאבי אנוש</h1>
    <div class="border">
    <form  #testForm="ngForm"  (ngSubmit)="saveData(testForm)"  ngNativeValidate>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="tooltip">
                <input name="name" required class=input type = "text" #name placeholder='שם פרטי + משפחה' oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')"/>
                <span class="tooltiptext">שם פרטי + משפחה</span> 
                </div>
                <div class="tooltip">
                <input class=input name="email" required type="email" #email placeholder='כתובת דוא"ל' oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')"/> 
                <span class="tooltiptext">כתובת דוא"ל</span> 
                </div>
            </ion-col>
            <ion-col>
                <div class="tooltip">
                <input class=input name="id" required type="text" #id placeholder='מס זהות' maxlength="9" oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')"/>
                <span class="tooltiptext">מס זהות</span> 
                </div>
                <div class="tooltip">
                <input class=input name ="comma" type="text" #comma placeholder='הערות נוספות' />
                <span class="tooltiptext">הערות נוספות</span> 
                </div>
            </ion-col>
            <ion-col>
                <div class="tooltip">
                <input class=input name ="phone" required type="tel" pattern="[0]{1}[0-9]{2}-[0-9]{7}" #phone placeholder='מספר טלפון' oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')"/>
                <span class="tooltiptext">מספר טלפון</span> 
                </div>
            </ion-col>
            <ion-col>
                <div class="tooltip">
                <input class=input name ="phone2" type="tel" pattern="[0]{1}[0-9]{2}-[0-9]{7}" #phone2 placeholder='מספר טלפון נוסף'/>
                <span class="tooltiptext">מספר טלפון נוסף</span> 
                </div>
            </ion-col>
        </ion-row>
    </ion-grid> 
        <button  ion-button class="add_button" type="submit" >יצירת טופס</button> 
    </form>
        <button class="edit_button" (click)='edit_db()'>עדכון</button> 
    </div>

    <div class="filters_border">
    <h2>חיפוש בטבלה</h2>
    <ion-grid>
        <ion-row>
            <ion-col>
                <input class=input #name placeholder='שם פרטי + משפחה' (keyup)='applyFilter($event.target.value)'/>
            </ion-col>
            <ion-col>
                <input class=input #id placeholder='מס זהות' maxlength="9" (keyup)='applyFilter($event.target.value)'/>       
            </ion-col>
        </ion-row>
    </ion-grid> 
    </div>


    <div id="scrolltable">     
    <table id="human_table">
    <tr>
        <th>שם מלא</th>
        <th>מס זהות</th>
        <th>מס טלפון</th>
        <th>מס טלפון נוסף</th>
        <th>כתובת דוא"ל</th>
        <th>הערות נוספות</th>
        <th>עריכה</th>
        <th>מחיקה</th>
    </tr>
                 
    <tr *ngFor='let doc of dataFromDatabaseFiltered'>
        <td> {{doc.name}}</td> 
        <td>{{doc.id}}</td>
        <td> {{doc.phone}}</td>
        <td>{{doc.phone2}}</td>
        <td>{{doc.email}}</td>
        <td>{{doc.comma}}</td>
        <td><i class= "fas fa-pen" (click)='edit(doc)' style="font-size:15px;margin-right: 23%;color:red;cursor: pointer;"></i></td>
        <td><i class="fas fa-trash-alt" (click)='delete(doc)' style="font-size:15px;margin-right: 23%;color:red;cursor: pointer;"></i></td>
    </tr> 
    </table>
    </div>
    </div>     
</body>