<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<body>
    <div class = "rtl">
        <h1>תקציבים</h1>
        <div class="border">
        <form  #testForm="ngForm"  (ngSubmit)="saveData(testForm)"  ngNativeValidate>   
        <ion-grid>
            <ion-row>
                <ion-col>
                    <input ngModel name="finance_source" required class=input #finance_source placeholder='מקור מימון' oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')"/>
                    <select ngModel name="budget_status" required class=input #budget_status oninvalid="this.setCustomValidity('יש לבחור פריט מהרשימה')" oninput="setCustomValidity('')">
                            <option value="" disabled selected>סטטוס תקצוב</option>
                            <option value="הוגש">הוגש</option>
                            <option value="בבדיקה">בבדיקה</option>
                            <option value="אושר">אושר</option>
                        </select> 
                </ion-col>
                <ion-col>
                    <input ngModel name="budget_name" required class=input #budget_name placeholder='שם סעיף תקציבי' oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')"/>
                    <input ngModel name="execute_status" required class=input #execute_status placeholder='סטטוס מימוש'  />
                </ion-col>
                <ion-col>
                    <input ngModel name="amount" required class=input #amount placeholder='סכום' oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')"/>
                </ion-col>
            </ion-row>
        </ion-grid> 
                    <!--<ng-container *ngFor='let field of fields'>
                        <input *ngIf='field.type !== "select"' [type]='field.type' [placeholder]='field.placeholder' />
                        <select *ngIf='field.type === "select"'>
                            <option *ngFor='let option of field.options' [value]='option.value'>{{option.label}}</option>
                        </select>
                    </ng-container>-->
    
            <button  ion-button class="add_button" type="submit" >יצירת טופס</button> 
        </form>
            <button  class="edit_button" (click)='edit_db()'>עדכון</button>
    </div>     

    <div class="filters_border">
    <h2>חיפוש בטבלה</h2>
    <ion-grid>
        <ion-row>
            <ion-col>
                <input class=input #finance_source placeholder='מקור מימון' (keyup)='applyFilter($event.target.value)'/>
            </ion-col>
            <ion-col>
                <select class=input #budget_status (change)='filter_table($event)'>
                    <option value="" disabled selected>סטטוס תקצוב</option>
                    <option value="כל הסטטוסים" >כל הסטטוסים</option>
                    <option value="הוגש">הוגש</option>
                    <option value="בבדיקה">בבדיקה</option>
                    <option value="אושר">אושר</option>
                </select>       
            </ion-col>
        </ion-row>
    </ion-grid> 
    </div>


    <div id="scrolltable">  
        <table id="budgets_table">
            <tr>
                <th>מקור מימון</th>
                <th>שם סעיף תקציבי</th>
                <th>סכום</th>
                <th>סטטוס תקצוב</th>
                <th>סטטוס מימוש</th>
                <th>עריכה</th>  
                <th>מחיקה</th>
            </tr>
            <tr *ngFor='let doc of dataFromDatabaseFiltered'>
                <td> {{doc.finance_source}}</td> 
                <td>{{doc.budget_name}}</td>
                <td>{{doc.amount}}</td>
                <td>{{doc.budget_status}}</td>
                <td>{{doc.execute_status}}</td>
                <td><i class= "fas fa-pen" (click)='edit(doc)' style="font-size:15px; margin-right:40%; color:red;cursor: pointer;"></i></td>
                <td><i class="fas fa-trash-alt" (click)='delete(doc)' style="font-size:15px; margin-right:40%;color:red;cursor: pointer;"></i></td>
            </tr> 
        </table>
        </div>
    </div>      
</body>