body{
  background-color: whitesmoke;
}

.input{
  width: 200px;
  float: right;
  text-align: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 7%;
}

.rtl{
  direction: rtl;
  overflow:auto;
}

ion-grid{
  --ion-grid-column-padding: 10px;
}

.add_button{
  font-size: 16px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px 12px;
  background-color: #aec33a;
  color: #ffffff;
  position: absolute;
  top: 24%;
  left: 10%;
  transform: translateY(-50%);
  border-radius: 5px;
}

.edit_button{
  font-size: 16px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px 12px;
  background-color: #d92139;
  color: #ffffff;
  position: absolute;
  top: 24%;
  left: 4%;
  transform: translateY(-50%);
  border-radius: 5px;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:black;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}

#budgets_table {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin:auto;
}

#budgets_table td, #budgets_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#budgets_table tr:nth-child(even){background-color: #f2f2f2;}

#budgets_table tr:hover {background-color: #ddd;}

#budgets_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #253f58;
  color: white; 
}

#scrolltable { 
  height: 380px; 
  overflow: auto; 
}

#scrolltable th div { 
  position: absolute; 
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #253f58;
}

.border{
  border-radius: 5px;
  border-color: #363636;
  border: 1px solid;
  width: 95%;
  height: 160px;
  margin: auto;
  margin-bottom: 1%;
}