<ion-content padding class="background">
    <div class = "rtl">
        <ion-grid>
            <ion-row>
                <ion-col>

                    <input class=input #origain_f placeholder='מקור ממון' />
                    <input class=input #name_f placeholder='שם סעיף תקציבי'  />
                    <input class=input #sum_f placeholder='סכום'  />
            
                    <ng-container *ngFor='let field of fields'>
                        <input *ngIf='field.type !== "select"' [type]='field.type' [placeholder]='field.placeholder' />
                        <select *ngIf='field.type === "select"'>
                            <option *ngFor='let option of field.options' [value]='option.value'>{{option.label}}</option>
                        </select>
                    </ng-container>
           
                  
                </ion-col>

                <ion-col> 
                    
                    <select class=input #buget_stat>
                        <option value="" disabled selected>סטטוס תקצוב</option>
                        <option value="הוגש">הוגש</option>
                        <option value="בבדיקה">בבדיקה</option>
                        <option value="אושר">אושר</option>
                    </select> 
                    <input class=input #mimosh placeholder='סטטוס מימוש'  />
                   

                </ion-col>
                

              
            </ion-row>
        </ion-grid> 
        <button (click)='saveData()'>יצירת טופס</button>    
        
        <table>
            <tr>
                <th>מקור מימון</th>
                <th>שם סעיף תקציבי</th>
                <th>סכום</th>
                <th>סטטוס תקצוב</th>
                <th>סטטוס מימוש</th>
              
              </tr>
             
              <tr *ngFor='let doc of dataFromDatabase'  (dblclick)='onDoubleClick(doc)' (contextmenu)="onRightClick(doc)">
                <td> {{doc.origain_f}}</td> 
                <td>{{doc.name_f}}</td>
                <td>{{doc.sum_f}}</td>
                <td>{{doc.buget_stat}}</td>
                <td> {{doc.mimosh}}</td>
              </tr> 
          </table>
    </div>      
</ion-content>