 <!--      
    <div>
      <div class="right">
        <div class ="logo">
            <img class="mod" src="http://www.up2me.co.il/images/60215606.png">
        </div>
          
          <ul>
              <ion-label>:שם משתמש</ion-label>
              <ion-input  #email></ion-input>
              <ion-label>:סיסמא</ion-label>
              <ion-input type='password' #password></ion-input>
              <ion-row>
                <button ion-button  id=button (click)="forgotPassword()">שכחתי סיסמה</button>
                <button ion-button id=button (click)="login()">כניסה</button>  
              </ion-row>              
            </ul>  
      </div> 
      <div class="left"> 
          <img class="mod" src="http://www.up2me.co.il/images/63432205.jpg">
      </div> 
    

</div>
   -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ion-content>
  <div class="box">
      <i class="fa fa-user-circle-o" style="margin-left: 38%; margin-top: 2%; font-size: 80px"></i>
      <h1>כניסת משתמש רשום</h1>
      <!--<h2>ניהול אירועים</h2>-->
      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <ion-input class="input-field" type="email" placeholder="Email" name="email" #email></ion-input>
      </div>
      
      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <ion-input class="input-field" type="password" placeholder="Password" name="psw" #password></ion-input>
      </div>
    
      <ion-row>
        <button ion-button (click)="login()" class="login_btn">כניסה</button>
        <button ion-button (click)="forgotPassword()" class="reset_btn">איפוס סיסמא</button>
      </ion-row>
      <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
  </div>
</ion-content>


