<!--<ion-header class="masters">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<body>
  <ion-grid>
    <ion-row>
      
      <app-generic-button (click)='goToSignInPage()'>Something</app-generic-button>
      <app-generic-button>gett</app-generic-button>
      <app-generic-button></app-generic-button>
  
  </ion-row>
    <ion-row>
        
      <app-generic-button></app-generic-button>
      <app-generic-button></app-generic-button>
      <app-generic-button></app-generic-button>

    </ion-row>
  </ion-grid>
  </body>
 
  
</ion-content>

<div class="liel">
    <div class="mir">
<ion-header class="masters">
    <ion-toolbar>
    </ion-toolbar>
    <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item button>
              <ion-icon slot="start" name='home'></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>  

      <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-item button>
                <ion-icon slot="start" name='home'></ion-icon>
                <ion-label>
                  Login
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>  
     
  </ion-header>
</div>

  <ion-content>
  <body>
    <ion-grid>
      <ion-row>
        
        <app-generic-button (click)='goToSignInPage()'>Something</app-generic-button>
        <app-generic-button>gett</app-generic-button>
        <app-generic-button></app-generic-button>
    
    </ion-row>
      <ion-row>
          
        <app-generic-button></app-generic-button>
        <app-generic-button></app-generic-button>
        <app-generic-button></app-generic-button>
  
      </ion-row>
    </ion-grid>
    </body>
   
  </ion-content>
</div>
    -->
    <div>
      <div class="right">
        <div class ="logo">
            <img class="mod" src="http://www.up2me.co.il/images/60215606.png">
        </div>
          
          <ul>
              <ion-label>:שם משתמש</ion-label>
              <ion-input  #email></ion-input>
              <ion-label>:סיסמא</ion-label>
              <ion-input type='password' #password></ion-input>
              <ion-row>
                <button ion-button  id=button (click)="forgotPassword()">שכחתי סיסמה</button>
                <button ion-button id=button (click)="login()">כניסה</button>  
              </ion-row>              
            </ul>  
      </div> 
      <div class="left"> 
          <img class="mod" src="http://www.up2me.co.il/images/63432205.jpg">
      </div> 
            <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
</div>
     

