<!--<ion-header class="masters">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<body>
  <ion-grid>
    <ion-row>
      
      <app-generic-button (click)='goToSignInPage()'>Something</app-generic-button>
      <app-generic-button>gett</app-generic-button>
      <app-generic-button></app-generic-button>
  
  </ion-row>
    <ion-row>
        
      <app-generic-button></app-generic-button>
      <app-generic-button></app-generic-button>
      <app-generic-button></app-generic-button>

    </ion-row>
  </ion-grid>
  </body>
 
  
</ion-content>

<div class="liel">
    <div class="mir">
<ion-header class="masters">
    <ion-toolbar>
    </ion-toolbar>
    <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item button>
              <ion-icon slot="start" name='home'></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>  

      <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-item button>
                <ion-icon slot="start" name='home'></ion-icon>
                <ion-label>
                  Login
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>  
     
  </ion-header>
</div>

  <ion-content>
  <body>
    <ion-grid>
      <ion-row>
        
        <app-generic-button (click)='goToSignInPage()'>Something</app-generic-button>
        <app-generic-button>gett</app-generic-button>
        <app-generic-button></app-generic-button>
    
    </ion-row>
      <ion-row>
          
        <app-generic-button></app-generic-button>
        <app-generic-button></app-generic-button>
        <app-generic-button></app-generic-button>
  
      </ion-row>
    </ion-grid>
    </body>
   
  </ion-content>
</div>
    -->
    <body>
      <div class="right">
        <div class ="logo">
            <img class="mod" src="http://www.up2me.co.il/images/60215606.png">
        </div>
        
          <ul>
            <ion-label id=userName>:שם משתמש</ion-label>
              <li><input type="text" name="firstname"></li>
              <ion-label id=password>:סיסמא</ion-label>
              <li><input type="text" name="firstname"></li>
              <button class = "button button-assertive button-outline" id=button >
                כניסה
              </button>
            </ul>  
      </div> 
      <div class="left"> 
          <img class="mod" src="http://www.up2me.co.il/images/63432205.jpg">
      </div> 
  </body>
     

