ion-content.background{
  --background: url(http://www.up2me.co.il/images/69528473.jpg) 0 0/100% 100% no-repeat;
  
}
.search{
  background-color: red;
  width: 100%;
  height: 30%;
  margin-bottom: 3%;
}
table{
  border: 1px solid black;
  width: 100%;
  background-color: whitesmoke;
  overflow:auto;

}
th{
  border: 1px solid black;
  height: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
td{
  border: 1px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.rtl{
  direction: rtl;
  height: 79%;
  overflow:auto;
}
 
