<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<body>
  <div class="rtl">
    <h1>טבלת מופעים</h1>
    <div class="border">
    <ion-grid>
      <ion-row>
        <ion-col>
          <input  class=input  #show  placeholder='שם המופע'  (click)='filter_table($event)' (keyup)='applyFilter($event.target.value)' />
        </ion-col>
        <ion-col>
        <select class=input #audience  (change)='filter_audience($event)'> 
          <option value="" disabled selected>קהל יעד</option>
          <option value="כלל האוכלוסיות" > כלל האוכלוסיות</option>
          <option value="ילדים" > ילדים</option>
          <option value="ילדות" > ילדות</option>
          <option value="נערות" > נערות</option>
          <option value="בנים" > בנים</option>
          <option value="נשים" > נשים</option>
          <option value="אבות ובנים" > אבות ובנים</option>
          <option value="גיל הזהב - נשים" > גיל הזהב - נשים</option>
          <option value="בנות היסודי" > בנות היסודי  </option>
      </select> 
      </ion-col>
      <ion-col>
      <input  class=input  #artist  placeholder='שם האומן'  (click)='filter_table($event)' (keyup)='applyFilter($event.target.value)' />
      </ion-col>
      <ion-col>
        <input  class=input  #Provider  placeholder='שם הספק'  (click)='filter_table($event)' (keyup)='applyFilter($event.target.value)' />
      </ion-col>
      <ion-col>
        <select class=input #show (change)='filter_table($event)' >
          <option value="" disabled selected>אופי המופע</option>
          <option value="כל המופעים" >הרשימה המלאה</option>
          <option [value]="doc.show"  *ngFor='let doc of newArray'>{{doc.showCharacter}}</option>    
        </select>
    </ion-col>
      </ion-row>
    </ion-grid>
      
      <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
      </div>

      <div id="scrolltable">     
      <table id="catalog_table">
      <tr>
          <th>שם המופע</th>
          <th>שם האומן</th>
          <th>סוג המופע</th>
          <th>אופי המופע</th>
          <th>אוכלוסיית יעד אפשרית</th>
          <th>משך זמן המופע</th>
          <th>שם ספק</th>
          <th>מי צפה במופע לדוגמא</th>
          <th>הערות נוספות</th>
          <th>מחיקה</th>
          <th>עריכה</th>
        </tr>
       
        <tr *ngFor='let doc of dataFromDatabaseFiltered '>
          <td>{{doc.show}}</td> 
          <td>{{doc.artist}}</td>
          <td>{{doc.showType}}</td> 
          <td>{{doc.showCharacter}}</td>
          <td>{{doc.audience}}</td>
          <td>{{doc.timeShow}}</td>
          <td> {{doc.Provider}}</td>
          <td>{{doc.whoWatch}}</td>
          <td>{{doc.commants}}</td>
          <td><i class="fas fa-trash-alt" (click)='delete(doc)' style="font-size:15px;margin-right: 23%;color:red;cursor: pointer;"></i></td>
          <td><i class= "fas fa-pen" (click)='edit(doc)'style="font-size:15px;margin-right: 23%;color:red;cursor: pointer;"></i></td>
        </tr>
    </table>
    </div>
    
    </div>
  </body>
