
<body>
    <div class="rtl">
    <h1>עריכת קטלוג מופעים</h1>
    <form  #testForm="ngForm"  (ngSubmit)="edit_db(testForm)"  ngNativeValidate>
        <ion-grid>
          <div class="border_show">
            <h2>פרטי המופע</h2>
            <ion-row>
                <ion-col>
                  <input ngModel name="show" required class=input  #show  placeholder='שם המופע' />
                  <select  multiple class=input [(ngModel)]="audience" name="audience" required> 
                      <option value="" disabled selected>אוכלוסיית יעד אפשרית</option>
                      <option ion-select-option value="ילדים" > ילדים
                      <option ion-select-option value="ילדות" > ילדות
                      <option ion-select-option value="נערות" > נערות
                      <option ion-select-option value="בנים" > בנים
                      <option ion-select-option value="נשים" > נשים
                      <option ion-select-option value="אבות ובנים" > אבות ובנים
                      <option ion-select-option value="גיל הזהב - נשים" > גיל הזהב - נשים
                      <option ion-select-option value="בנות היסודי" > בנות היסודי  
                  </select> 
                </ion-col>
                <ion-col>
                  <input ngModel class=input #whoWatch placeholder='מי צפה במופע לדוגמא'  />
                  <select ngModel class=input #showType>
                      <option value="" disabled selected>סוג מופע</option>
                      <option value="הופעה" >הופעה</option>
                      <option value="סדנא">סדנא</option>
                  </select>
                  <input ngModel  type="tel" class=input placeholder="זמן נדרש להכנות לפני המופע" #timeBefore pattern="[0-9]{2}:[0-5]{1}[0-9]{1}" required>
                  <select ngModel name="graphics" required class=input #graphics>
                      <option value="" disabled selected>יש גרפיקה מוכנה של המופע?</option>
                      <option value="כן">כן</option>
                      <option value="לא">לא</option>
                    </select>
                </ion-col>
                <ion-col>
                  <input ngModel name="priceShow" required class=input #priceFirstShow placeholder='עלות מופע ראשון'/>
                  <select ngModel class=input #showCharacter>
                      <option value="" disabled selected>אופי המופע</option>
                      <option value="הצגה חיה" >הצגה חיה</option>
                      <option value="הקרנה">הקרנה</option>
                      <option value="תיאטרון בובות" >תיאטרון בובות</option>
                      <option value="הופעה בשילוב הקרנה">הופעה בשילוב הקרנה</option>
                      <option value="מופע מוסיקלי" >מופע מוסיקלי</option>
                      <option value="סיפור אישי">סיפור אישי</option>
                      <option value="הפעלה" >הפעלה</option>
                      <option value="סדנת אומנות">סדנת אומנות</option>
                      <option value="סדנת יצירה אישית" >סדנת יצירה אישית</option>
                      <option value="הרצאה">הרצאה</option>
                  </select>
                  <input ngModel  type="tel" class=input placeholder="זמן נדרש לארגון לאחר המופע" #timeAfter pattern="[0-9]{2}:[0-5]{1}[0-9]{1}" required>
                  <input ngModel name="priceDriver" required class=input #priceDriver placeholder='עלות נסיעות' />
                </ion-col>
                <ion-col>
                  <input ngModel name="priceShow" required class=input #priceSecondShow placeholder='עלות מופע חוזר'/>
                  <select ngModel name="equipment" required class=input #equipment>
                      <option value="" disabled selected hidden>ציוד נדרש</option>
                      <option value="אין צורך בציוד כלל">אין צורך בציוד כלל</option>
                      <option value="האומן מביא איתו את כל הציוד הנדרש">האומן מביא איתו את כל הציוד הנדרש</option>
                      <option value="מיקרופון חוטי 1">מיקרופון חוטי 1</option>
                      <option value="מיקרופון חוטי 2">מיקרופון חוטי 2</option>
                      <option value="מיקרופון חוטי 3">מיקרופון חוטי 3</option>
                      <option value="מיקרופון חוטי 4">מיקרופון חוטי 4</option>
                      <option value="מיקרופון חוטי 5">מיקרופון חוטי 5</option>
                      <option value="מקרופון אל-חוטי 1">מקרופון אל-חוטי 1</option>
                      <option value="מקרופון אל-חוטי 2">מקרופון אל-חוטי 2</option>
                      <option value="מקרופון אל-חוטי 3">מקרופון אל-חוטי 3</option>
                      <option value="מקרופון אל-חוטי 4">מקרופון אל-חוטי 4</option>
                      <option value="מקרופון אל-חוטי 5">מקרופון אל-חוטי 5</option>
                      <option value="מדונה 1">מדונה 1</option>
                      <option value="מדונה 2">מדונה 2</option>
                      <option value="מקרן">מקרן</option>
                      <option value="מסך">מסך</option>
                      <option value="תאורת במה">תאורת במה</option>
                      <option value="כסאות כתר">כסאות כתר</option>
                      <option value="שולחן על הבמה">שולחן על הבמה</option>
                      <option value="שולחן לסדרן בכניסה לאולם">שולחן לסדרן בכניסה לאולם</option>
                      <option value="מחשב">מחשב</option>
                  </select>
                  <input  ngModel type="tel" class=input placeholder="משך זמן המופע" #timeShow pattern="[0-9]{2}:[0-5]{1}[0-9]{1}" required>  
                  <input ngModel  type="text" class=input #time>  
                </ion-col>
              </ion-row>
            </div>
  
            <div class="border_communication">
                <h2>פרטי התקשרות</h2>
              <ion-row>
                <ion-col>
                  <input ngModel name="Provider" required class=input #Provider placeholder='שם ספק'/>
                  <input ngModel name="artist" required class=input #artist placeholder='שם האומן'/>
                </ion-col>
                <ion-col>
                  <input ngModel name="phoneProvid" required class=input type = "tel" #phoneProvid placeholder='טלפון ספק' />
                  <input class=input type = "tel"  #phoneArt placeholder='טלפון ישיר לאומן' />
                </ion-col>
                <ion-col>
                    <input  ngModel class=input type = "tel"  #phone2Provid placeholder='טלפון נוסף של ספק' />
                    <input  ngModel class=input type = "email" #mailArt placeholder='דוא"ל ישיר לאומן' />
                </ion-col>
                <ion-col>
                  <input  ngModel class=input type = "email"  #mailProvid placeholder='דוא"ל ספק' />
                </ion-col>
              </ion-row>
              </div>
  
              <div class="border_general">
              <h2>כללי</h2>
              <ion-row>
                  <ion-col>
                      <select  name="limitParticipants" required class=input #limitParticipants>
                          <option value="" disabled selected>הגבלת משתתפים לתמחור?</option>
                          <option value="כן">כן</option>
                          <option value="לא">לא</option>
                      </select>
                      <select  name="businessType" required class=input #businessType>
                          <option value="" disabled selected hidden>סוג עוסק</option>
                          <option value="שכיר">שכיר</option>
                          <option value="עמותה">עמותה</option>
                          <option value="שכר מרצים">שכר מרצים</option>
                          <option value="עוסק פטור">עוסק פטור</option>
                          <option value="עוסק מורשה">עוסק מורשה</option>
                      </select>
                      <input  type="file" name="file" id="file" #bid class="inputfile"/>
                      <label for="file"><strong>העלאת הצע"מ</strong></label>
                  </ion-col>
                  <ion-col>
                      <input  type="number" name="nuclearPrice" required class=input #nuclearPrice placeholder='מספר משתתפים למחיר גרעיני' />
                      <input  name="businessNum" required class=input #businessNum placeholder='מספר עוסק' />
                      <input  type="file" name="file" id="file" #imgGraphics class="inputfile"/>
                      <label for="file"><strong>העלאת גרפיקה</strong></label>
                  </ion-col>
                  <ion-col>
                      <input type="number"  name="extraParticipants" required class=input #extraParticipants placeholder='מספר משתתפים לתוספת' />
                      <input class=input name ="commants" type="text" #commants placeholder='הערות נוספות' />
                  </ion-col>
                  <ion-col>
                      <input type="number"  name="extraPrice" required class=input #extraPrice placeholder='מחיר לתוספת משתתפים' />
                  </ion-col>
                </ion-row>
            </div>
        </ion-grid>
        <button ion-button type="submit" class="ok_button" >אישור</button>

        <button ion-button class="cancel_button" routerLink="/home/catalog-table" id=button >חזרה לטבלת מופעים</button>
      </form>

    </div>
  </body>