ion-content.background{
  --background: url(http://www.up2me.co.il/images/69528473.jpg) 0 0/100% 100% no-repeat;
}

ion-input{
  background-color:#ffffff;
  color:#324851; 
  text-align:left;
  width: 1px;
  height: 2%;
}

