
<ion-content padding class="background">
 
 
  <h1>הכנסת מופע</h1>
     <div class="rtl">
            <ion-col>
                    <input class=input #show placeholder='שם המופע' />
                    <input class=input #artist placeholder='שם האמן' />
                    <input class=input #whoWatch placeholder='מי צפה במופע לדוגומא' />
                    <input class=input #priceShow placeholder='עלות המופע' />
                    <input class=input #priceDriver placeholder='עלות נסיעות' />
                    <input class=input #Provider placeholder='שם ספק' />

                    <input class=input #phoneProvid placeholder='טלפון ספק' />

                    <input class=input #phone2Provid placeholder='טלפון נוסף של ספק' />

                    <input class=input #mailProvid placeholder='דוא"ל ספק' />

                    <input class=input #phoneArt placeholder='טלפון ישיר לאומן' />
                    
                    <input class=input #mailArt placeholder='דוא"ל ישיר לאומן' />
                    <input class=input #numB placeholder='מספר עוסק' />

                    
             </ion-col>
               
                  
          
         
            
           
                 
                   
                
                  
                      <ion-col>
                      <ion-item>
                          <ion-label>קהל יעד</ion-label>
                          <ion-select multiple="true" [(ngModel)]="population" cancelText="ביטול" okText="אישור">
                            <ion-select-option value="ילדים">ילדים</ion-select-option>
                            <ion-select-option value="נשים">נשים</ion-select-option>
                            <ion-select-option value="נערות">נערות</ion-select-option>
                            <ion-select-option value="בנים">בנים</ion-select-option>
                            <ion-select-option value="נשים">נשים</ion-select-option>
                            <ion-select-option value="אבות ובנים">אבות ובנים</ion-select-option>
                            <ion-select-option value="גיל הזהב- נשים">גיל הזהב- נשים</ion-select-option>
                            <ion-select-option value="בנות היסודי">בנות היסודי</ion-select-option>
                           
                          </ion-select>
                        </ion-item>
                      
                
  
                      <ion-item>
                          <ion-label>ציוד</ion-label>

                          <ion-select multiple="true" [(ngModel)]=" equipment"  cancelText="ביטול" okText="אישור">
                            <ion-select-option value="ילדים">ילדים</ion-select-option>
                            <ion-select-option value="נשים">נשים</ion-select-option>
                            <ion-select-option value="נערות">נערות</ion-select-option>
                            <ion-select-option value="בנים">בנים</ion-select-option>
                            <ion-select-option value="נשים">נשים</ion-select-option>
                            <ion-select-option value="אבות ובנים">אבות ובנים</ion-select-option>
                            <ion-select-option value="גיל הזהב- נשים">גיל הזהב- נשים</ion-select-option>
                            <ion-select-option value="בנות היסודי">בנות היסודי</ion-select-option>
                           
                          </ion-select>
                        </ion-item>
                      
                      
                       
                    
  
                      
                          <ion-item>
                              <ion-label>גרפיקה</ion-label>
                              <ion-select multiple="true"  [(ngModel)]=" graphics" cancelText="ביטול" okText="אישור">
                                <ion-select-option value="ילדים">כן</ion-select-option>
                                <ion-select-option value="נשים">לא</ion-select-option>
                               
                               
                              </ion-select>
                            </ion-item>

                            <ion-item>
                                <ion-label>סוג עוסק</ion-label>
                                <ion-select multiple="true"   [(ngModel)]="business"cancelText="ביטול" okText="אישור">
                                  <ion-select-option value="שכיר">שכיר</ion-select-option>
                                  <ion-select-option value="עוסק פטור">עוסק פטור</ion-select-option>
                                  <ion-select-option value="עוסק מורשה">עוסק מורשה</ion-select-option>
                                </ion-select>
                              </ion-item>
                              </ion-col>
                              <ion-col>

                      <ion-item #timeShow [(ngModel)]="time" >
                          <ion-label>:משך זמן מופע</ion-label>  
                  <ion-datetime   display-format="HH:mm"  max= "12:00"  hoursValues="00,01,02,03,04,05,06,07,08,09,10,11,12"  > </ion-datetime>
                  </ion-item>
              

                  <ion-item #timeBefore>
                    <ion-label>:זמן לפני המופע</ion-label> 
                  <ion-datetime  display-format="HH:mm"  max= "12:00"> </ion-datetime>
                  </ion-item>
                  

                 <ion-item #timeAfter>
                     <ion-label>:זמן אחרי המופע</ion-label> 
                 <ion-datetime  display-format="HH:mm"  max= "12:00"> </ion-datetime>
                 </ion-item>
                 </ion-col>
                 

                 
  

                       
                    
                    
                 
  

       


        
      </div>
      <button ion-button id=button (click)="addShow()">הוספה</button>

</ion-content>
