<body>
    <div class = "rtl">
    <h1>עריכת לוח אירועים</h1>
    <form  #testForm="ngForm"  (ngSubmit)="edit_db(testForm)"  ngNativeValidate>
        <ion-grid>
        <div class="border_event">
        <h2>פרטי האירוע</h2>
            <ion-row>
                <ion-col>
                    <select name="show" class=input #show (change)='try($event)'>
                        <option value="" disabled selected>שם המופע</option>
                        <option [value]="doc.show"  *ngFor='let doc of dataFromDatabase'>{{doc.show}}</option>
                    </select>
    
                    <input  name="target_audience" class=input #target_audience placeholder='קהל יעד'  oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')"/>
    
                    <select name="budgets" class=input #budgets>
                        <option value="" disabled selected>סעיף תקציבי</option>
                        <option [selected]='isSelectedBudgets(doc.budget_name)' [value]="doc.budget_name"  *ngFor='let doc of budgetsFromDatabase'>{{doc.budget_name}}</option>
                    </select>
                </ion-col>
                <ion-col>
                    <select  name="event_type" required class=input #event_type oninvalid="this.setCustomValidity('יש לבחור פריט מהרשימה')" oninput="setCustomValidity('')">
                        <option value="" disabled selected>סוג אירוע</option>
                        <option value="מופע" >מופע</option>
                        <option value="סדנא חד פעמית">סדנא חד פעמית</option>
                        <option value="סדנא מרובת מפגשים" >סדנא מרובת מפגשים</option>
                    </select> 
    
                    <input  class=input #equipment placeholder='ציוד נדרש' />
    
                    <input  placeholder='עלות כניסה לתושב' class=input min="0" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" #cost>
                </ion-col>
                <ion-col>
                    <select  name="repeat_show" required class=input #repeat_show oninvalid="this.setCustomValidity('יש לבחור פריט מהרשימה')" oninput="setCustomValidity('')">
                        <option value="" disabled selected>מופע חוזר?</option>
                        <option value="כן">כן</option>
                        <option value="לא">לא</option>
                    </select> 
    
                    <select name="building" required class=input #building oninvalid="this.setCustomValidity('יש לבחור פריט מהרשימה')" oninput="setCustomValidity('')">
                        <option value="" disabled selected>מבנה</option>
                        <option [selected]='isSelectedBuilding(doc.Building_name)' [value]="doc.Building_name"  *ngFor='let doc of buildingsFromDatabase'>{{doc.Building_name}}</option>
                    </select>

                    <input  type="text" class=input #time>  
                </ion-col>
                <ion-col>
                    <input  name="quantity" required placeholder="מספר מופעים חוזרים" class=input min="0" max="100" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" #quantity oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')">

                    <select  name="building_status" required class=input #building_status oninvalid="this.setCustomValidity('יש לבחור פריט מהרשימה')" oninput="setCustomValidity('')">
                        <option value="" disabled selected>סטטוס שריון מבנה</option>
                        <option value="חסר שיבוץ" >חסר שיבוץ</option>
                        <option value="משוריין">משוריין</option>
                        <option value="ממתין לתשובת שריון">ממתין לתשובת שריון</option>
                        <option value="סגור">סגור</option>
                    </select> 
                </ion-col>
            </ion-row>
        </div>

        <div class="border_time">
        <h2>זמני האירוע</h2>
            <ion-row>
                <ion-col>
                    <select  name="season" required class=input #season oninvalid="this.setCustomValidity('יש לבחור פריט מהרשימה')" oninput="setCustomValidity('')">
                        <option value="" disabled selected>עונת אירועים</option>
                        <option value="סוכות">סוכות</option>
                        <option value="חנוכה">חנוכה</option>
                        <option value="פסח">פסח</option>
                        <option value="בין הזמנים סביב השעון">בין הזמנים סביב השעון</option>
                        <option value="פעילות שנתית שוטפת">פעילות שנתית שוטפת</option>
                    </select>
            
                    <select  name="day_of_week" required class=input #day_of_week oninvalid="this.setCustomValidity('יש לבחור פריט מהרשימה')" oninput="setCustomValidity('')">
                        <option value="" disabled selected>יום בשבוע</option>
                        <option value="ראשון" >ראשון</option>
                        <option value="שני">שני</option>
                        <option value="שלישי">שלישי</option>
                        <option value="רביעי">רביעי</option>
                        <option value="חמישי">חמישי</option>
                        <option value="שישי">שישי</option>
                        <option value="מוצאי שבת">מוצ"ש</option>
                    </select>
                                
                    <input  class=input  #show_time placeholder='משך זמן האירוע' />
                </ion-col>
                <ion-col>
                    <input  name="hebrew_date" required class=input #hebrew_date placeholder='תאריך עברי' oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')"/> 
                    <input class=input  #before_show placeholder='משך זמן ניקיון/הכנות לפני אירוע' /> 
                    <input placeholder="שעת סיום האירוע" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #end_of_show oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')">   
                </ion-col>
                <ion-col>
                    <select  name="hebrew_year" required class=input #hebrew_year oninvalid="this.setCustomValidity('יש לבחור פריט מהרשימה')" oninput="setCustomValidity('')">
                        <option value="" disabled selected>שנה עברית</option>                                
                        <option value="תשעט">תשע"ט</option>
                        <option value="תשף">תש"ף</option>
                        <option value="תשפא">תשפ"א</option>
                        <option value="תשפב">תשפ"ב</option>
                        <option value="תשפג">תשפ"ג</option>
                        <option value="תשפד">תשפ"ד</option>
                        <option value="תשפה">תשפ"ה</option>
                        <option value="תשפו">תשפ"ו</option>
                        <option value="תשפז">תשפ"ז</option>
                        <option value="תשפח">תשפ"ח</option>
                        <option value="תשפט">תשפ"ט</option>
                        <option value="תשץ">תש"ץ</option>
                        <option value="תשצא">תשצ"א</option>
                        <option value="תשצב">תשצ"ב</option>
                        <option value="תשצג">תשצ"ג</option>
                    </select>
                             
                    <input  placeholder="שעת פתיחת דלתות" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #open_doors>  
                    <input  class=input #after_show placeholder='זמן פירוק/ניקיון לאחר האירוע' /> 
                </ion-col>
                <ion-col>
                    <input  name="date" required placeholder="תאריך לועזי" class=input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" #date oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')">
                    <input  placeholder="שעת התחלת אירוע בפועל" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #Actual_show_time>
                    <input  placeholder="שעת שחרור המבנה לאחר האירוע" class=input type="text" onfocus="(this.type='time')" onblur="(this.type='text')" #release_building oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')">
                </ion-col>
            </ion-row>
        </div> 
      
        <div class="border_human">
        <h2>כוח אדם</h2>
            <ion-row>
                <ion-col>
                    <input name="number_of_ushers" required placeholder="מספר סדרנים נדרש" class=input min="0" type="number" onfocus="(this.type='number')" onblur="(this.type='number')" #number_of_ushers oninvalid="this.setCustomValidity('שדה חובה')" oninput="setCustomValidity('')">
                </ion-col>
                <ion-col>
                    <select  name="agent" class=input #agent>
                        <option value="" disabled selected>מפעיל/ה</option>
                        <option [selected]='isSelectedAgent(doc.name)' [value]="doc.name"  *ngFor='let doc of humanFromDatabase'>{{doc.name}}</option>
                    </select>
                </ion-col>
                <ion-col>
                    <select  name="in_charge_of_show" class=input #in_charge_of_show>
                        <option value="" disabled selected>אחראי/ת לאירוע</option>
                        <option [selected]='isSelectedInCharge(doc.name)' [value]="doc.name"  *ngFor='let doc of humanFromDatabase'>{{doc.name}}</option>
                    </select>
                </ion-col>
                <ion-col>
                    <select  name="ushers" class=input #ushers>
                        <option value="" disabled selected>סדרנים</option>
                        <option [value]="doc.name"  *ngFor='let doc of humanFromDatabase'>{{doc.name}}</option>
                    </select>
                </ion-col>
            </ion-row>
        </div> 
                    
        <div class="border_general">
        <h2>כללי</h2>
            <ion-row>
                <ion-col>
                    <select  name="advertising_status" class=input #advertising_status>
                        <option value="" disabled selected>מצב פרסום</option>
                        <option value="טרם טופל">טרם טופל</option>
                        <option value="ממתין לגרפיקה מהאומן/ית">ממתין לגרפיקה מהאומן/ית</option>
                        <option value="הגיעה גרפיקה מהאומן/ית, ממתין לגרפיקה עירונית">הגיעה גרפיקה מהאומן/ית, ממתין לגרפיקה עירונית</option>
                        <option value="חזר מגרפיקה עירונית, ממתין להגהה">חזר מגרפיקה עירונית, ממתין להגהה</option>
                        <option value="ממתין לתיקוני גרפיקה עירונית">ממתין לתיקוני גרפיקה עירונית</option>
                        <option value="מאושר">מאושר</option>
                    </select>    
                </ion-col>
                <ion-col>
                    <select  name="order_status_purchase" class=input #order_status_purchase>
                        <option value="" disabled selected>סטטוס הזמנה לרכש</option>
                        <option value="טרם טופל">טרם טופל</option>
                        <option value="נמצא בריכוז להכנת הזמנה">נמצא בריכוז להכנת הזמנה</option>
                        <option value="נשלחה בקשה להצעמ">נשלחה בקשה להצע"מ</option>
                        <option value="הגיעה הצעמ">הגיעה הצע"מ</option>
                        <option value="נשלח בקשה לרכש">נשלח בקשה לרכש</option>                            
                        <option value="חזר מהרכש - לטיפול">חזר מהרכש - לטיפול</option>
                    </select> 
                </ion-col>
                <ion-col>
                    <select  name="ayment_status" class=input #payment_status>
                        <option value="" disabled selected>סטטוס תשלום</option>
                        <option value="טרם הגיעה חשבונית / דרישה לתשלום">טרם הגיעה חשבונית / דרישה לתשלום</option>
                        <option value="הגיעה חשבונית / דרישה, טרם טופל">הגיעה חשבונית / דרישה, טרם טופל</option>                            
                        <option value="הועברה חשבונית לתשלום">הועברה חשבונית לתשלום</option>
                        <option value="שולם">שולם</option>
                    </select>
                </ion-col>
                <ion-col>
                    <input type="file" name="file" id="file" #upload class="inputfile"/>
                    <label for="file"><strong>תצוגת מודעה מאושרת</strong></label>
                </ion-col>
            </ion-row>
        </div> 
        </ion-grid>
        <button ion-button type="submit" class="ok_button" >אישור</button>
        <button ion-button class="table_button" routerLink="/home/eventsboard-table" >חזרה לטבלת אירועים</button>
      </form>
    </div>   
</body>