body{
  background-color: whitesmoke;
}
 
.input{
  width: 200px;
  float: right;
  text-align: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 7%;
}

.rtl{
  direction: rtl;
  overflow:auto;
}

ion-grid{
  --ion-grid-column-padding: 10px;
}

.add_button{
  font-size: 16px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px 12px;
  background-color: #aec33a;
  color: #ffffff;
  position: absolute;
  top: 26.5%;
  left: 10%;
  transform: translateY(-50%);
  border-radius: 5px;
  outline: none;
}

.add_button:hover{
  background-color: #acca00;
  outline: none;
  opacity: 1;
  transition: background-color 0.2s;
}

.edit_button{
  font-size: 16px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px 12px;
  background-color: #d92139;
  color: #ffffff;
  position: absolute;
  top: 26.5%;
  left: 4%;
  transform: translateY(-50%);
  border-radius: 5px;
  outline: none;
}

.edit_button:hover{
  background-color: #da001d;
  outline: none;
  opacity: 1;
  transition: background-color 0.2s;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:black;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}

#data_table {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin:auto;
}

#data_table td, #data_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data_table tr:nth-child(even){background-color: #f2f2f2;}

#data_table tr:hover {background-color: #ddd;}

#data_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #253f58;
  color: white;
}

#scrolltable { 
  height: 380px; 
  overflow: auto; 
}

#scrolltable th div { 
  position: absolute; 
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #253f58;
}

.border{
  border-radius: 5px;
  border-color: #363636;
  border: 1px solid;
  width: 95%;
  height: 140px;
  margin: auto;
  margin-bottom: 1%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  margin-left: -60px;
  opacity: 0.9;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}