// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.my-alert {
  
    color: black; // text color for basic alerts
    direction: rtl;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    button {
        color: white !important;
        background-color: #253f58 !important;
        border-radius: 5px;
        cursor: pointer;
        outline:none;
    }
    
    .alert-message {
        direction: rtl;
        color: black; // text color for confirm alerts
  
    }
    .alert-wrapper {
        margin: auto;
        width: 900px !important;
    //    height: 800px !important;
        $popover-ios-width: 300px;
        background-color: white;
    }
    input::placeholder{
        color: black !important;
        font-size: 20px !important;
  
    }
    input{
        color: black !important;
        font-size: 20px !important;
        direction: ltr;
    }
  }