<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div onload="loadPage()">
      <div class="right">
       <!--<div id = "logo" class="logo">
            <img class="mod" src="/assets/img/weblogo.jpg">
        </div>--> 
      <div id="menu">
          <div class="logo">
              <img src="/assets/img/weblogo.jpg">
          </div>
          <ul>
              <li><a routerLink="/home/events">לוח אירועים<i class="fa fa-calendar" style="margin-left: 8%"></i></a></li>
              <li><a routerLink="/home/catalog">קטלוג מופעים<i class="fa fa-street-view" style="margin-left: 8%"></i></a></li>
              <li><a routerLink="/home/human">משאבי אנוש<i class="fa fa-users" style="margin-left: 8%"></i></a></li>
              <li><a routerLink="/home/reports">דוחות<i class="fa fa-line-chart" style="margin-left: 8%"></i></a></li>
              <li><a routerLink="/home/budgets">תקציבים<i class="fa fa-money" style="margin-left: 8%"></i></a></li>
              <li><a routerLink="/home/data">נתוני תשתית<i class="fa fa-institution" style="margin-left: 8%"></i></a></li>
          </ul>  
        </div>
      </div> 
      <div class="left" > 
        
       <!--<div style='border: 2px solid red; border-radius: 10px; height: 200px; width: 200px;'  *ngFor='let doc of dataFromDatabase'>
          <h1>Name: {{doc.season}}</h1>
          <p>
              Age: {{doc.age}}
          </p>
        </div>--> 
     
        <ion-router-outlet></ion-router-outlet>


        <!-- <input #name placeholder='name' />
        <input #age placeholder='age' />
        <button (click)='saveData()'>Save!</button> -->
        
        <img class="mod" src="http://www.up2me.co.il/images/63432205.jpg">
      </div> 
    </div>
     

