<!--<ion-header class="masters">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<body>
  <ion-grid>
    <ion-row>
      
      <app-generic-button (click)='goToSignInPage()'>Something</app-generic-button>
      <app-generic-button>gett</app-generic-button>
      <app-generic-button></app-generic-button>
  
  </ion-row>
    <ion-row>
        
      <app-generic-button></app-generic-button>
      <app-generic-button></app-generic-button>
      <app-generic-button></app-generic-button>

    </ion-row>
  </ion-grid>
  </body>
 
  
</ion-content>

<div class="liel">
    <div class="mir">
<ion-header class="masters">
    <ion-toolbar>
    </ion-toolbar>
    <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item button>
              <ion-icon slot="start" name='home'></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>  

      <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false">
              <ion-item button>
                <ion-icon slot="start" name='home'></ion-icon>
                <ion-label>
                  Login
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>  
     
  </ion-header>
</div>

  <ion-content>
  <body>
    <ion-grid>
      <ion-row>
        
        <app-generic-button (click)='goToSignInPage()'>Something</app-generic-button>
        <app-generic-button>gett</app-generic-button>
        <app-generic-button></app-generic-button>
    
    </ion-row>
      <ion-row>
          
        <app-generic-button></app-generic-button>
        <app-generic-button></app-generic-button>
        <app-generic-button></app-generic-button>
  
      </ion-row>
    </ion-grid>
    </body>
   
  </ion-content>
</div>
    -->

    <body onload="loadPage()">
        

      <div class="right">
        <div id = "logo" class="logo">
            <img class="mod" src="http://www.up2me.co.il/images/60215606.png">
        </div>
          <ul>
              <li><a routerLink="/home/events" >לוח אירועים</a></li>
              <li><a routerLink="/home/catalog">קטלוג מופעים</a></li>
              <li><a href="#contact">משאבי אנוש</a></li>
              <li><a href="#about">דוחות</a></li>
              <li><a href="#contact">תקציבים</a></li>
              <li><a href="#about">נתוני תשתית</a></li>
            </ul>  
      </div> 
      <div class="left" > 
          
        <div style='border: 2px solid red; border-radius: 10px; height: 200px; width: 200px;'  *ngFor='let doc of dataFromDatabase'>
          <h1>Name: {{doc.name}}</h1>
          <p>
              Age: {{doc.age}}
          </p>
        </div>
        
        <!-- <ion-router-outlet></ion-router-outlet> -->


        <!-- <input #name placeholder='name' />
        <input #age placeholder='age' />
        <button (click)='saveData()'>Save!</button> -->
          <!-- <img class="mod" src="http://www.up2me.co.il/images/63432205.jpg"> -->
      </div> 
  </body>
     

