 /*.ios ion-badge {
    text-transform: uppercase;
  }*/
 body{
    width: 100%;
    height: 100%;
 }
  .right{
    float: right;
     width: 18%;
    height: 100%;
    background-color:#324851; 
  }
  .logo{
    padding-top: 10%;
    width:157px;
    height: 150px;
    margin: top;
    margin: auto;
    padding-bottom: 10%;
  }
  .left{
    width: 81.8%;
    height: 100%;
    

    margin-right: 30%;
   background-color:blue;

  }
  .mod{
    width: 100%;
    height: 100%; 
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #324851;
  }
  
  li a {
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px 16px;
    text-decoration: none;
  }
  
  li a.active {
    float:right;
    color: #ffffff;
  }
  
  li a:hover:not(.active) {
    background-color: #cdb579;
    color: #ffffff;

  }
  