<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <app-generic-button (click)='goToSignInPage()'>Something</app-generic-button>
      <app-generic-button>gett</app-generic-button>
      <app-generic-button></app-generic-button>
    </ion-row>
    <ion-row>
      <app-generic-button></app-generic-button>
      <app-generic-button></app-generic-button>
      <app-generic-button></app-generic-button>

    </ion-row>
  </ion-grid>
 
  
</ion-content>
