  .right{
    float: right;
    width: 18%;
    height: 100%;
  }
  .logo{
    padding-top: 10%;
    width: 200px;
    height: 200px;
    margin: top;
    margin: auto;
    padding-bottom: 10%;
    background: #212221;
  }
  .left{
    width: 81.8%;
    height: 100%;
    margin-right: 30%;
    position: relative;
  }
  
  .mod{
    width: 100%;
    height: 100%; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #212221;
    //background-color: #8d8741;
  }
  
  li a {
    font-size: 18px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #444444; 
    color: rgb(224, 223, 223);
  }
