 /*.ios ion-badge {
    text-transform: uppercase;
  }*/
 body{
    width: 100%;
    height: 100%;
 }
  .right{
    float: right;
     width: 18%;
    height: 100%;
    background-color:#324851; 
  }
  .logo{
    width:100px;
    height: 95px;
    margin: top;
    margin-left: 60%;
  }
  .left{
    width: 81.8%;
    height: 100%;
    

    margin-right: 30%;
   background-color:blue;

  }
  .mod{
    width: 100%;
    height: 100%; 
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #324851;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    color: #ffffff;
  }
  
  li a:hover:not(.active) {
    background-color: #cdb579;
    color: #ffffff;

  }
  //cc