<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<body>
  <div class="rtl">
    <h1>טבלת אירועים</h1>
    <div class="border">
        <h2>חיפוש בטבלה</h2>
    <ion-grid>
      <ion-row>
        <ion-col>
            <select class=input #hebrew_year (change)='filter_table($event)'>
              <option value="" disabled selected>שנה עברית</option>     
              <option value="הרשימה המלאה" >הרשימה המלאה</option>                           
              <option value="תשעט">תשע"ט</option>
              <option value="תשף">תש"ף</option>
              <option value="תשפא">תשפ"א</option>
              <option value="תשפב">תשפ"ב</option>
              <option value="תשפג">תשפ"ג</option>
              <option value="תשפד">תשפ"ד</option>
              <option value="תשפה">תשפ"ה</option>
              <option value="תשפו">תשפ"ו</option>
              <option value="תשפז">תשפ"ז</option>
              <option value="תשפח">תשפ"ח</option>
              <option value="תשפט">תשפ"ט</option>
              <option value="תשץ">תש"ץ</option>
              <option value="תשצא">תשצ"א</option>
              <option value="תשצב">תשצ"ב</option>
              <option value="תשצג">תשצ"ג</option>
            </select>
        </ion-col>
        <ion-col>
            <select class=input #building (change)='filter_table($event)'>
                <option value="" disabled selected>מבנה</option>
                <option value="הרשימה המלאה" >הרשימה המלאה</option>   
                <option [value]="doc.Building_name"  *ngFor='let doc of buildingsFromDatabase'>{{doc.Building_name}}</option>
            </select>
      </ion-col>
      <ion-col>
          <select class=input #event_type (change)='filter_table($event)'>
              <option value="" disabled selected>סוג אירוע</option>
              <option value="הרשימה המלאה" >הרשימה המלאה</option> 
              <option value="מופע" >מופע</option>  
              <option value="סדנא חד פעמית">סדנא חד פעמית</option>
              <option value="סדנא מרובת מפגשים" >סדנא מרובת מפגשים</option>
          </select> 
      </ion-col>
      <ion-col>
          <select class=input #audience  (change)='filter_audience($event)'> 
              <option value="" disabled selected>קהל יעד</option>
              <option value="כלל הקהלים" > כלל הקהלים</option>
              <option value="ילדים" > ילדים</option>
              <option value="ילדות" > ילדות</option>
              <option value="נערות" > נערות</option>
              <option value="בנים" > בנים</option>
              <option value="נשים" > נשים</option>
              <option value="אבות ובנים" > אבות ובנים</option>
              <option value="גיל הזהב - נשים" > גיל הזהב - נשים</option>
              <option value="בנות היסודי" > בנות היסודי  </option>
          </select> 
      </ion-col>
      <ion-col>
          <select name="ushers" class=input #ushers (change)='filter_table($event)'>
              <option value="" disabled selected>סדרנים</option>
              <option [value]="doc.name"  *ngFor='let doc of humanFromDatabase'>{{doc.name}}</option>
          </select>
    </ion-col>
      </ion-row>
    </ion-grid>
      
      <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
      </div>

      <div id="scrolltable">     
      <table id="catalog_table">
      <tr>
          <th>שם המופע</th>
          <th>תאריך האירוע</th>
          <th>תאריך עברי</th>
          <th>שעת פתיחת דלתות</th>
          <th>שעת התחלת האירוע בפועל</th>
          <th>שעת סיום האירוע</th>
          <th>מבנה</th>
          <th>קהל יעד</th>
          <th>עריכה</th>
          <th>מחיקה</th>
        </tr>
       
        <tr *ngFor='let doc of dataFromDatabaseFiltered '>
          <td>{{doc.show}}</td> 
          <td>{{doc.date}}</td>
          <td>{{doc.hebrew_date}}</td> 
          <td>{{doc.open_doors}}</td>
          <td>{{doc.Actual_show_time}}</td>
          <td>{{doc.end_of_show}}</td>
          <td> {{doc.building}}</td>
          <td>{{doc.target_audience}}</td>
          <td><i class= "fas fa-pen" (click)='edit(doc)'style="font-size:15px;margin-right: 23%;color:red;cursor: pointer;"></i></td>
          <td><i class="fas fa-trash-alt" (click)='delete(doc)' style="font-size:15px;margin-right: 23%;color:red;cursor: pointer;"></i></td>
        </tr>
    </table>
    </div>
    
    </div>
  </body>
